@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif ;
}

/*HEADER*/

.checked {
    color: orange;
  }

.header-wrapper{    
    background-image: url(a9b.jpg);   
    height: 92vh;
    width: 100%;        
    background-size: cover;    
    background-attachment: fixed;
    box-shadow: px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation:backwards;
    position: relative;
}

h1{
    font-family: 'Oswald' , sans-serif;
    text-transform: none;
    font-size: 5em;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-shadow: -5px -1px 0px rgb(0, 0, 0), 
                -5px 1px 0px rgb(0, 0, 0),                    
                 -5px -1px 0px rgb(0, 0, 0),                  
                 -5px 0px 0px rgb(0, 0, 0);
}

h2{
    text-align: center;
    line-height: 1.3em;    
    font-family:'Bebas',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.548);

}

audio {
    margin-top: 30px;
}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    
}

a:hover {
    color: #000000 ;
    background-color: white;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* CARDS */

.titulo_cabecalho01 {
    left:0px;
    text-indent: 2em;
    font-size: 2.2em;
    position:relative;
    display: flex;
    color: white;    
    width: 500px;
    height: 60px;
    background-color: red;
    border-radius: 0px 15px 15px 0px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.titulo_cabecalho02 {
    left:0px;
    text-indent: 2em;
    font-size: 2.2em;
    position:relative;
    display: flex;
    color: white;    
    width: 500px;
    height: 60px;
    background-color: black;
    border-radius: 0px 15px 15px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
    margin-bottom: 0px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 200px;
    margin: 1rem 0 0 0;    
    background-color: transparent;
    box-shadow: -1px black    
}

.card-text {
    width: 60%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

/* FOOTER */

.footer {
    margin-top:20px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000329;
}

.footer img {
    
     width: 40px;
     position:fixed;
     right: 0px;    
     bottom: 10px;
     z-index: 2;
}

/* RESPONSIVO */

@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container{
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }


}